.main-container {
    background-color: #003366;
    /* border: 3rem solid transparent; */
    border: 1.5rem solid transparent;
    border-image: linear-gradient(to bottom, #001f3f, #003366);
    border-image-slice: 1;
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    min-height: 87.7vh;
}

.title-todo {
    text-align: center;
    font-size: 3rem;
}

.delete-button.all {}